{% extends 'base.html' %}

{% block content %}
<div class="blog-posts-container">
    <h2 class="page-title">Blog Posts</h2>

    {% if user.is_authenticated %}
    <div class="create-post-container">
        <a href="{% url 'create_blog_post' %}" class="btn-create-post">Create New Post</a>
    </div>
    {% endif %}

    <ul class="posts-list">
        {% for post in posts %}
        <li class="post-item">
            <a href="{{ post.id }}/" class="post-link">
                <h3>{{ post.title }}</h3>
                <p class="post-excerpt">{{ post.content|truncatewords:20 }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}




